@import "tailwindcss";



.custom-node {
    background: rgba(181, 181, 190, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.react-flow__handle {
    width: 8px !important;
    height: 8px !important;
    background: #0000002b;
    border: 2px solid #0000002b;
    border-radius: 50%;
}

.react-flow__node .react-flow__handle {
    background: #c3c3c3cf;
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

.react-flow__node:hover .react-flow__handle {
    opacity: 1;
}

.circle {
    background: rgba(181, 181, 190, 0.45);
    padding: 1rem;
    display: flex;
    min-width: 10rem;
    height: 100%;
    width: auto;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-wrap: nowrap;
}

.rectangle {
    min-width: 10rem;
    padding: 0 1rem;
    border-radius: 10px;
    height: 100%;
    min-height: 3.5rem;
    width: auto;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.parallelogram {
    min-width: 10rem;
    min-height: 3.5rem;
    padding: 0 1rem;
    border-radius: 5px;
    height: 100%;
    width: auto;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transform: skewX(333deg);
}

.parallelogram .data {
    transform: skewX(-333deg);
}

.parallelogram .node-input {
    transform: skewX(-333deg);
}

.hexagon {
    clip-path: polygon(15% -5%, 85% -5%, 100% 50%, 85% 104%, 15% 110%, 0% 50%);
    background: rgba(181, 181, 190, 0.45);
    min-width: 20rem;
    min-height: 3.5rem;
    height: 100%;
    width: auto;
    text-wrap: nowrap;
    padding: 1rem 2rem;
    font-weight: 500;
}

.diamond {
    min-width: 6rem;
    min-height: 6rem;
    height: 100%;
    width: auto;
    padding: 0 1rem;
    border-radius: 5px;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transform: rotate(-45deg);
    aspect-ratio: 1/1;
}

.diamond .data {
    transform: rotate(45deg)
}


.react-flow__resize-control {
    padding: 3px;
}

.diamond .node-input {
    transform: rotate(45deg);
}

.node-input {
    width: 4rem;
    padding: 4px;
    outline: none;
    background: transparent;
    text-align: center;
}



.mainbody {
    overflow: hidden;
    scrollbar-width: none;
}

  

.editorBox{
    right: -100%;
    box-shadow: 0 0 12px -3px #4c4c4cd4;
}

.editbox2{
    right: 0;
}